interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.m9h8.com/rss.xml
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
      xmlns:content=\"http://purl.org/rss/1.0/modules/content/\">\n    <channel>\n
      \       <title>m9H8 Blog</title>\n        <link>https://blog.m9H8.com/</link>\n
      \       <description>m9H8 Blog</description>\n        <lastBuildDate>Wed, 29
      Nov 2023 09:58:07 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n
      \       <generator>https://github.com/jpmonette/feed</generator>\n        <language>en</language>\n
      \       <item>\n            <title><![CDATA[git worktree - Manage multiple working
      trees]]></title>\n            <link>https://blog.m9H8.com/git-worktree</link>\n
      \           <guid>https://blog.m9H8.com/git-worktree</guid>\n            <pubDate>Wed,
      29 Nov 2023 09:58:07 GMT</pubDate>\n            <description><![CDATA[git worktree]]></description>\n
      \           <content:encoded><![CDATA[<h2 class=\"anchor anchorWithStickyNavbar_Ma3z\"
      id=\"git-worktree\">git worktree<a href=\"https://blog.m9h8.com/git-worktree#git-worktree\"
      class=\"hash-link\" aria-label=\"Direct link to git worktree\" title=\"Direct
      link to git worktree\">\u200B</a></h2>\n<p><code>worktree \u6307\u4EE4</code>\u53EF\u4EE5\u5C07\u5167\u5BB9\u8907\u88FD\u4E00\u4EFD\u51FA\u4F86\u81F3\u6307\u5B9A\u4F4D\u7F6E\uFF0C\u7576\u9700\u8981\u540C\u6642\u8655\u7406\u591A\u500B
      branch \u7684\u6642\u5019\u5F88\u65B9\u4FBF\uFF0C\u53EF\u4EE5\u907F\u514D\u983B\u7E41
      switch branch \u3002</p>\n<p>Documentation: <a href=\"https://git-scm.com/docs/git-worktree\"
      target=\"_blank\" rel=\"noopener noreferrer\">https://git-scm.com/docs/git-worktree</a></p>\n<h2
      class=\"anchor anchorWithStickyNavbar_Ma3z\" id=\"example\">Example<a href=\"https://blog.m9h8.com/git-worktree#example\"
      class=\"hash-link\" aria-label=\"Direct link to Example\" title=\"Direct link
      to Example\">\u200B</a></h2>\n<p>gwt alias \u53C3\u8003: <a href=\"https://github.com/ohmyzsh/ohmyzsh/blob/418046e9583f635b0303e4b8cf31c356b175cec3/plugins/git/git.plugin.zsh#L389-L393\"
      target=\"_blank\" rel=\"noopener noreferrer\"><code>ohmyzsh</code> git alias</a></p>\n<h3
      class=\"anchor anchorWithStickyNavbar_Ma3z\" id=\"\u4F7F\u7528-worktree\">\u4F7F\u7528
      worktree<a href=\"https://blog.m9h8.com/git-worktree#%E4%BD%BF%E7%94%A8-worktree\"
      class=\"hash-link\" aria-label=\"Direct link to \u4F7F\u7528 worktree\" title=\"Direct
      link to \u4F7F\u7528 worktree\">\u200B</a></h3>\n<div class=\"language-sh codeBlockContainer_Z6Ro
      theme-code-block\" style=\"--prism-color:#F8F8F2;--prism-background-color:#272822\"><div
      class=\"codeBlockContent_LAWP\"><pre tabindex=\"0\" class=\"prism-code language-sh
      codeBlock_AtD0 thin-scrollbar\" style=\"color:#F8F8F2;background-color:#272822\"><code
      class=\"codeBlockLines_cMW_\"><span class=\"token-line\" style=\"color:#F8F8F2\"><span
      class=\"token comment\" style=\"color:#88846f\"># \u5217\u51FA worktree</span><span
      class=\"token plain\"></span><br></span><span class=\"token-line\" style=\"color:#F8F8F2\"><span
      class=\"token plain\">gwtls</span><br></span><span class=\"token-line\" style=\"color:#F8F8F2\"><span
      class=\"token plain\"></span><span class=\"token comment\" style=\"color:#88846f\">#
      {REPO}  3dd0c75 [master]</span><span class=\"token plain\"></span><br></span><span
      class=\"token-line\" style=\"color:#F8F8F2\"><span class=\"token plain\" style=\"display:inline-block\"></span><br></span><span
      class=\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://feeds.bbci.co.uk/zhongwen/trad/rss.xml
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
      xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
      version=\"2.0\" xmlns:media=\"http://search.yahoo.com/mrss/\">\n    <channel>\n
      \       <title><![CDATA[BBC Chinese - \u4E3B\u9801]]></title>\n        <description><![CDATA[BBC
      Chinese - \u4E3B\u9801]]></description>\n        <link>http://www.bbcchinese.com</link>\n
      \       <image>\n            <url>http://www.bbc.co.uk/zhongwen/trad/images/gel/rss_logo.gif</url>\n
      \           <title>BBC Chinese - \u4E3B\u9801</title>\n            <link>http://www.bbcchinese.com</link>\n
      \       </image>\n        <generator>RSS for Node</generator>\n        <lastBuildDate>Mon,
      04 Dec 2023 17:00:36 GMT</lastBuildDate>\n        <copyright><![CDATA[\u82F1\u570B\u5EE3\u64AD\u516C\u53F8
      \u7248\u6B0A\u6240\u6709 ]]></copyright>\n        <language><![CDATA[zh-Hant]]></language>\n
      \       <managingEditor><![CDATA[chinese@bbc.co.uk]]></managingEditor>\n        <ttl>15</ttl>\n
      \       <item>\n            <title><![CDATA[\u9999\u6E2F\u793E\u904B\u4EBA\u58EB\u5468\u5EAD\u5BA3\u4F48\u300C\u68C4\u4FDD\u300D\uFF1A\u300C\u5927\u6982\u4E00\u8F29\u5B50\u4E0D\u6703\u56DE\u53BB\u4E86\u300D]]></title>\n
      \           <description><![CDATA[\u5468\u5EAD\u662F\u9999\u6E2F\u89AA\u6C11\u4E3B\u6297\u8B70\u904B\u52D5\u4E2D\u6700\u77E5\u540D\u7684\u4EBA\u7269\u4E4B\u4E00\uFF0C\u76EE\u524D\u4ECD\u5728\u63A5\u53D7\u570B\u5B89\u6CD5\u8ABF\u67E5\u3002]]></description>\n[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://feeds.feedburner.com/rsscna/intworld
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n<rss version=\"2.0\"
      xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\">\r\n
      \ <channel>\r\n     <title>\u4E2D\u592E\u793E\u5373\u6642\u65B0\u805E \u570B\u969B\u7126\u9EDE</title>\r\n
      \    <link>https://www.cna.com.tw/list/aopl.aspx</link>\r\n     <description>\u4E2D\u592E\u793E\u5373\u6642\u65B0\u805E
      \u570B\u969B\u7126\u9EDE</description>\r\n     <language>zh-tw</language>\r\n
      \    <copyright>\u4E2D\u592E\u901A\u8A0A\u793E</copyright>\r\n     <lastBuildDate>Tue,
      05 Dec 2023 01:00:12 +0800</lastBuildDate>\r\n     <ttl>15</ttl>\r\n     <image>\r\n
      \      <title>\u4E2D\u592E\u793E\u5373\u6642\u65B0\u805E \u570B\u969B\u7126\u9EDE</title>\r\n
      \      <width>114</width>\r\n       <height>67</height>\r\n       <link>https://www.cna.com.tw/list/aopl.aspx</link>\r\n
      \      <url>https://imgcdn.cna.com.tw/www/images/cna_info/cnalogo_176x117.jpg</url>\r\n
      \    </image>\r\n     <item>\r\n     <title>\u300C\u6709\u578B\u3001\u6709\u9B45\u529B\u300D
      \u7DB2\u8DEF\u592F\u5B57rizz\u7372\u9078\u725B\u6D25\u8FAD\u5178\u4EE3\u8868\u5B57</title>\r\n
      \    <link>https://www.cna.com.tw/news/aopl/202312040361.aspx</link>\r\n     <guid
      isPermaLink=\"false\">CNA/2023-12-[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hnrss.org/newest?q=Python&points=123&comments=123
  response:
    content: "<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"><channel><title>Hacker
      News - Newest: &#34;Python&#34;</title><link>https://news.ycombinator.com/newest</link><description>Hacker
      News RSS</description><docs>https://hnrss.org/</docs><generator>hnrss v2.1.1</generator><lastBuildDate>Mon,
      04 Dec 2023 17:03:03 +0000</lastBuildDate><atom:link href=\"https://hnrss.org/newest?q=Python&amp;points=123&amp;comments=123\"
      rel=\"self\" type=\"application/rss+xml\"></atom:link><item><title><![CDATA[Rust
      std fs slower than Python? No, it's hardware]]></title><description><![CDATA[\n<p>Article
      URL: <a href=\"https://xuanwo.io/2023/04-rust-std-fs-slower-than-python/\">https://xuanwo.io/2023/04-rust-std-fs-slower-than-python/</a></p>\n<p>Comments
      URL: <a href=\"https://news.ycombinator.com/item?id=38457247\">https://news.ycombinator.com/item?id=38457247</a></p>\n<p>Points:
      682</p>\n<p># Comments: 240</p>\n]]></description><pubDate>Wed, 29 Nov 2023
      09:18:32 +0000</pubDate><link>https://xuanwo.io/2023/04-rust-std-fs-slower-than-python/</link><dc:creator>Pop_-</dc:creator><comments>https://news.ycombinator.com/item?id=38457247</comments><guid
      isPermaLink=\"false\">https://news.ycombinator.com/item?id=38457247</guid></item><item><title><![CDATA[Python
      Is Easy. Go Is Simple. Simple != Easy]]></title><description><![CDATA[\n<p>Article
      URL: <a href=\"https://preslav.me/2023/11/27/python-is-easy-golang-is-simple-simple-is-not-easy/\">https://preslav.me/2023/11/27/python-is-easy-golang-is-simple-simple-is-not-easy/</a></p>\n<p>Comments
      URL: <a href=\"http[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://theinitium.com/newsfeed/
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss xmlns:atom=\"http://www.w3.org/2005/Atom\"
      version=\"2.0\"><channel xmlns:content=\"http://purl.org/rss/1.0/modules/content/\"><title>\u7AEF\u50B3\u5A92
      Initium Media</title><link>https://theinitium.com/newsfeed/</link><description>Initium
      media article news feed.</description><atom:link href=\"https://theinitium.com/newsfeed/\"
      rel=\"self\"></atom:link><language>zh-hant</language><lastBuildDate>Mon, 04
      Dec 2023 21:03:24 +0800</lastBuildDate><link href=\"https://theinitium.com/newsfeed/?page=1\"
      rel=\"next\"></link><item><title>\u65E5\u5831\uFF5C\u70CF\u8972\u64CA\u4FC4\u9023\u63A5\u4E2D\u570B\u9435\u8DEF\uFF1B\u7F8E\u8846\u8B70\u54E1\u6851\u6258\u65AF\u906D\u9A45\u9010\uFF1B\u5DF4\u9ECE\u767C\u751F\u6301\u5200\u8972\u64CA\u4E8B\u4EF6</title><link>https://theinitium.com/article/20231204-daily-brief/</link><description>\u674E\u5BB6\u8D85\u7A31\u5DF2\u958B\u5C5523\u689D\u7ACB\u6CD5\u6E96\u5099\uFF1B\u4E2D\u570B\u885B\u5065\u59D4\u8981\u6C42\u5404\u7D1A\u9580\u8A3A\u4E0D\u5F97\u62D2\u8A3A\u5152\u7AE5\uFF1B\u5370\u5EA6\u6D89\u5ACC\u6697\u6BBA\u82F1\u570B\u932B\u514B\u6559\u6D3B\u52D5\u5BB6</description><pubDate>Mon,
      04 Dec 2023 21:00:00 +0800</pubDate><guid>https://theinitium.com/article/20231204-daily-brief/</guid><category>\u65E5\u5831</category><content:encoded>&lt;section&gt;
      \ &lt;article&gt;&lt;p&gt;&lt;small&gt;\u8B80\u8005\u4F60\u597D\uFF01\u4F60\u73FE\u5728\u8B80\u5230\u662F\u7AEF\u50B3\u5A92\u6BCF\u65E5\u65B0\u805E\u901F\u8B80\u300C\u65E5\u5831\u300D\u3002\u6BCF\u9022\u9031\u4E00\u5230\u9031\u4E94\u7684\u6771\u4E9E\u6642\u9593\u665A\u9593\uFF0C\u6211\u5011\u6703\u5728\u6574\u7406\u548C\u7BE9\u9078\u4E4B\u5F8C\uFF0C\u5C07\u8FD1\u671F\u503C\u5F97\u4E00\u8B80\u7684\u5E7E\u689D\u65B0\u805E\u4EE5\u7C21\u7[...]
